- form_for(@question) do |f|
	- if @question.errors.any?
		#error_explanation
			%h2
				= pluralize(@question.errors.count, "error")
				prohibited this question from being saved
			%ul
				- @question.errors.full_messages.each do |msg|
					%li
						= msg

	%div{ :class => "field" }
		= f.label :question_type
		= f.text_field :question_type
	
	%div{ :class => "field" }
		= f.label :question_text
		= f.text_field :question_text
	
	%div{ :class => "field" }
		= f.label :question_choices
		= f.text_area :question_choices
	
	%div{:class => "actions"}
		= f.submit
