.container
	%h1
		= link_to "Division #{@question.division.id}", division_path(@question.division.id)
		&raquo;
		Editing Question

	= render 'form'

	= link_to 'Show', @question
	|
	= link_to 'Back', questions_path
