.container
	%h1 Listing questions

	%table
		%thead
			%tr
				%th Division
				%th Question type
				%th Question text
				%th Question choices
				%th{ :colspan => 3 }
  
		%tbody
			- @questions.each do |question|
				%tr
					%th
						= link_to question.division.id, division_path(question.division.id)
					%td
						= question.question_type
					%td
						= question.question_text
					%td
						= question.question_choices
					%td
						= link_to 'Show', division_question_path(question, :division_id => question.division)
					%td
						= link_to 'Edit', edit_division_question_path(question, :division_id => question.division)
					%td
						= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete
