- form.fields_for :responses do |ff|
	- q = ff.object.question
	.field
		= ff.hidden_field :question_id
		- case q.question_type
		- when 'text'
			= ff.label :text, q.question_text
			= ff.text_field :text
		- when 'single'
			= ff.label :text, q.question_text
			= ff.select :text, q.question_choices.collect { |qc| [qc,qc] }
		- when 'multi'
			%fieldset
				%legend
					= q.question_text
				- q.question_choices.each do |qc|
					%label
						= ff.check_box_tag :text, qc
						= qc
