!!!
%html
	%head
		%title Dynamic Validations
		= stylesheet_link_tag 'blueprint/print', :media => 'print'
		= stylesheet_link_tag 'blueprint/screen', :media => 'screen'
		= stylesheet_link_tag :all, :media => 'all'
		= javascript_include_tag 'jquery/jquery.min','jquery/jquery.dl','jquery/jquery.json','jquery/jquery.cookie'
		= javascript_include_tag 'modernizr/modernizr-1.7.min'
		= csrf_meta_tag
	%body
		#content
			= yield
